---
const base = import.meta.env.BASE_URL || "/";
const pathname = Astro.url.pathname;

const currentLang = pathname.startsWith(`${base}/es`) ? "es" : "en";

const pathWithoutLang =
  currentLang === "es"
    ? pathname.replace(`${base}/es`, "")
    : pathname.replace(base, "");

function translatedPath(lang: string) {
  if (lang === "en") {
    return `${base}${pathWithoutLang}`;
  } else {
    return `${base}/es${pathWithoutLang}`;
  }
}
---

<a
  href={translatedPath("en")}
  class={`${currentLang === "en" ? "bg-[hsl(0,0%,15%)]" : "bg-[hsl(0,0%,10%)] hover:bg-[hsl(0,0%,15%)]"} rounded-l-md px-4 py-2 duration-300 shadow-sl`}
>
  EN
</a>

<a
  href={translatedPath("es")}
  class={`${currentLang === "es" ? "bg-[hsl(0,0%,15%)]" : "bg-[hsl(0,0%,10%)] hover:bg-[hsl(0,0%,15%)]"} rounded-r-md px-4 py-2 duration-300 shadow-sl`}
>
  ES
</a>
